/*font-family: 'Libre Baskerville', serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Gentium Basic', serif;*/

body {
  min-height: 100%;
  font: 14px;
  margin: 0 auto;
  font-family: 'Gentium Basic', serif;
}

.flex-container {
  margin: 1em 0;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

div {
  border: 1px solid black;
}

h1 {
	font-family: 'Libre Baskerville', serif;
}

.row {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 150px;
  width: 1200px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
