/*font-family: 'Libre Baskerville', serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Gentium Basic', serif;*/

body {
  min-height: 100%;
  font: 14px Comic Sans MS;
  margin: 0 auto;
  font-family: 'Gentium Basic', serif;
  background: #EDF2FA;
}

.flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  width: 1202px;
}

.row {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 450px;
  width: 1250px;
  margin: 0;
  padding: 0;
}

.column-small {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  height: 450px;
  width: 250px;

}

.column-large {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  height: 450px;
  width: 402px;

}


h1 {
	font-family: 'Libre Baskerville', serif;
}

.med-img {
  height: 402px;
  width: 400px;
  border: solid 1px black;

}

img {
  height: 202px;
  width: 250px;
  border-left: solid 1px black;
  border-bottom: inset 2px grey;
}

section img { 
  transition: .8s opacity;
}
section:hover img {
  opacity: 0.3;
}
section:hover img:hover {
  opacity: 1;
}