/*font-family: 'Libre Baskerville', serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Gentium Basic', serif;*/

body {
  min-height: 100%;
  font: 14px Comic Sans MS;
  margin: 0 auto;
  font-family: 'Gentium Basic', serif;
  background: #EDF2FA;
}

/*section {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
}*/

.flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  width: 960px;
}

.row {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 400px;
  max-width: 900px;
}


.box-column {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  height: 400px;

}


h1 {
	font-family: 'Libre Baskerville', serif;
}

.med-img {
  height: 400px;
  width: 400px;
}

img {
  height: 200px;
  width: 200px;
}

section img { 
  transition: .8s opacity;
}
section:hover img {
  opacity: 0.3;
}
section:hover img:hover {
  opacity: 1;
}