/*font-family: 'Libre Baskerville', serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Gentium Basic', serif;*/


.box-top-logo {
	background-image: url("../images/Logo/GladysLogo.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-bottom: 0;
	height: 400px;
	background-position: center;
}

body {
  min-height: 100%;
  font: 14px Comic Sans MS;
  margin: 0 auto;
  font-family: 'Gentium Basic', serif;
}

.flex-container {
  margin: 1em 0;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

div {
  border: 1px solid black;
}

h1 {
	font-family: 'Libre Baskerville', serif;
}

#special-img {
	background-image: url("../images/Services/occasion-pic.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

#landscape-img{
	background-image: url("../images/Services/landscape-pic.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

#watering-img {
	background-image: url("../images/Services/watering-pic.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
#additional-img {
	background-image: url("../images/Services/away-pic.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

.box-services{
	color: red;
	font-family: 'Libre Baskerville', serif;
	text-align: center;
	vertical-align: middle;
	line-height: 150px;
	font-size: 20px;
}

.row {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.services {
	max-height: 450px;
}

.column-small {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  height: 200px;
  width: 250px;

}

.testimonials {
	height: 350px;
	justify-content: space-around;
}


.box-testimonials {
		width: 350px;
	}

blockquote { 
	/*background: #484B52 
	url(http://3.bp.blogspot.com/_7wsQzULWIwo/Swb5J3xbxyI/AAAAAAAACPk/gxR76OhXXaw/s1600/green-black-side.gif) ;*/
	background-image: url("../images/Index/callout.png");
	background-position: center; 
	background-repeat:repeat-y; 
	margin: 0 20px; 
	padding: 20px 20px 20px 50px; 
	color:#C7CACF; 
	font: normal 0.9em Helvetica, verdana, serif, Georgia, "Times New Roman"; 
} 
.post blockquote p { 
margin: 0; 
padding-top: 10px; 
}