/*font-family: 'Libre Baskerville', serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Gentium Basic', serif;*/


/*CSS - For Phone - Begin */
@media screen and (max-width: 360px){
	.box-top-logo {
		background-image: url("../images/Logo/GladysLogo.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		margin-bottom: 0;
		height: 250px;
		background-position: center;
		min-width: 100%;
		height: 250px;
		}

	h1 {
		font-family: 'Libre Baskerville', serif;
		font-size: 1.1em;
		margin: 10px 0 0 21px;
	}

	h2 {
		font-size: .85em;
		margin: 0 0 0 25px;
	}

	.column-small {
	  display: flex;
	  flex-flow: column;
	  flex-direction: column;
	  flex-wrap: wrap;
	  height: 175px;
	  width: 250px;
	}

	h3 {
		margin-top: 25px;
		font-family: 'Libre Baskerville', serif;
		font-size: 23px;
		margin-bottom: 25px;
	}

	#special-img2 {
		background-image: url("../images/Services/landscape-pic.jpg");
		background-size: cover;
		background-position: center;
		border-radius: 50%;
		vertical-align: bottom;
		margin: 25px 0;
	}

	#special-img {
		display: none;
	}

	.paragraph-box {
		background: #fffbdd;
		min-width: 100%;
	}

	.column-medium {
	  display: flex;
	  flex-flow: column;
	  height: 425px;
	  width: 120%;
	}

	.fourth {
	  display: flex;
	  flex-flow: column;
	  height: 450px;
	  justify-content: space-between;
	  flex-wrap: wrap;
	  background: #fcf5c4;;
	}

	ul {
		padding-left: 0;
	}

	.fifth {
	  position: relative;
	  height: 60px;
	  flex-wrap: nowrap;
	  background: #f4e8bc;
	  margin-top: 390px;
	}

	.box-footer {
	  display: flex;
	  flex-flow: column;
	  height: 60px;
	  width: 50%;
	  text-align: center;
	}

	.box-footer p {
		height: 10px;
		width: 100px;
		margin: 0 0 0 0;
	}

	.mobile-hidden {
		display: none;
	}

}

/*CSS - For Phone - End */
/*-----------------------------------------------------------------------------------*/

/*CSS - For Desktop - Begin*/
@media screen and (min-width: 361px){	
	.box-top-logo {
		background-image: url("../images/Logo/GladysLogo.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		margin-bottom: 0;
		height: 500px;
		background-position: center;
		min-width: 100%;
	}

	h1 {
		font-family: 'Libre Baskerville', serif;
		font-size: 1.875em;
		margin: 0 0 0 1em;
	}

	h2 {
		font-size: .9375em;
		margin: 0 0 0 2.2em;
	}

	.inner-second {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  height: 225px;
	  justify-content: space-around;
	  background: #fcf5c4;
	  width: 75%;
	}

	.column-small {
	  display: flex;
	  flex-flow: column;
	  flex-wrap: nowrap;
	  height: 175px;
	  width: 175px;
	}

	h3 {
		margin-top: 50px;
		font-family: 'Libre Baskerville', serif;
		font-size: 23px;
		margin-bottom: 25px;
	}

	#special-img2 {
		display: none;
	}

	#special-img {
		background-image: url("../images/Services/occasion-pic.jpg");
		background-size: cover;
		background-position: center;
		border-radius: 50%;
		vertical-align: bottom;
		margin: 25px 0;
	}

	.paragraph-box {
		background: #fffbdd;
		height: 300px;
		min-width: 100%;
	}

	.column-medium {
	  display: flex;
	  flex-flow: column;
	  height: 425px;
	  width: 50%;
	}

	.inner-fourth {
		margin: 0 auto;
		display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  height: 450px;
	  justify-content: space-around;
	  background: #fcf5c4;
	  width: 75%;
	}

	.fourth {
	  height: 450px;
	  justify-content: space-between;
	  flex-wrap: nowrap;
	  background: #fcf5c4;
	}

	.fifth {
	  height: 70px;
	  justify-content: space-between;
	  flex-wrap: nowrap;
	  background: #f4e8bc;
	}

	.box-footer {
		margin: 0 auto;
	  display: flex;
	  justify-content: space-around;
	  flex-flow: column;
	  height: 70px;
	  width: 30%;
		text-align: center;
	}

	.box-footer p {
		margin: 0 auto;
		height: 16px;
		width: 200px;
	}

	.mobile-hidden {
		display: inline;
	}

}

/*CSS - For Desktop - End*/
/*-----------------------------------------------------------------------------------------------------------*/

/*CSS - Non-Media Specific - Begin*/
#nav-row {
	justify-content: flex-end;
	width: 50%;
}

/* Add a black background color to the top navigation */
.topnav {
	margin: auto;
  background-color: #333;
  overflow: hidden;
  position: relative;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 25px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #b5a989;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50; 
  color: white;
}

.topnav a{
	margin-right: 15px;
}

nav a.mobile_menu {
	width: 32px;
	height: 32px;
	background: url(../images/phone-menu.gif) no-repeat 0 0;
	background-size: contain;
	position: absolute;
	top: 22px;
	left: 50%;
	margin-left: -16px;
}
	
.first-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #b9d83e;
}

.column-split {
  height: 55px;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: #b9d83e;
}

.empty-top {
	background-color: #b9d83e;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-bottom: 0;
	height: 1px;
	background-position: center;
	min-width: 100%;
}

.box-top-logo h3 {
	padding: 20px;
	background: white;
	opacity: .5;
	border: solid #f9f7f7 5px;
	height: 20px;
	width: 300px;
	text-transform: uppercase;
	margin: 0 auto;
	position: relative;
	top: 40%;
}

.paragraph {
	width: 75%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 1.56em;
	margin: 0 auto;
	margin-top: 45px;
}

.paragraph p {
	margin-top: 20px;
	font-family: 'Libre Franklin', serif;
	font-size: 14px;
}

body {
  min-height: 100%;
  font: 14px Comic Sans MS;
  margin: 0 auto;
  font-family: 'Gentium Basic', serif;
  max-width: cover;
}

.flex-container {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#landscape-img{
	background-image: url("../images/Services/landscape-pic.jpg");
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin: 25px 0;
}

#watering-img {
	background-image: url("../images/Services/watering-pic.jpg");
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin: 25px 0;
}
#additional-img {
	background-image: url("../images/Services/away-pic.jpg");
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin: 25px 0;
}

.box-services a {
	text-decoration: none;
	color: white;
	font-family: 'Libre Baskerville', serif;
	text-align: center;
	line-height: 150px;
	font-size: 15px;
	margin: 15px 0;
	padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /*margin: 0;*/
  padding: 0;
}

#first {
	justify-content: flex-start;
	width: 50%;
}

.second {
  height: 225px;
  justify-content: space-around;
  background: #fcf5c4;
}

.third {
  height: 380px;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-image: url("../images/Testimonials/grass-img.gif");
	background-size: cover;
	background-position: center;
}

.services {
	max-height: 600px;
	margin: 0;
}

#container {
	opacity: 1;
	width: 800px;
	overflow: hidden;
	margin: 30px auto;
	background-image: url("../images/Testimonials/testimonialblankx.gif");
	background-position: center;
	background-repeat: no-repeat;
}

#container img {
	margin-right: 200px;
	width: 400px;
	height: 300px;
}
 
#container h1 {
	opacity: 1;
	width: 600px;
	font-family: 'Libre Baskerville', serif;
	font-size: 23px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 5px;
	}

#container p {
	opacity: 1;
	width: 600px;
	font-family: 'Libre Franklin', serif;
	font-size: 14px;
	margin: 0 auto;
	text-align: center;
}

/*keyframe animations*/
.first-move {
	-webkit-animation: bannermove 45s linear infinite;
	   -moz-animation: bannermove 45s linear infinite;
	    -ms-animation: bannermove 45s linear infinite;
	     -o-animation: bannermove 45s linear infinite;
	        animation: bannermove 45s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -1000px;
 }
}

@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -1000px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -1000px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -1000px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -1000px;
 }
 
}
 
.photobanner {
	height: 375px;
	width: 1200px;
}
 
.photobanner img {
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-o-transition: all 2s ease;
	-ms-transition: all 2s ease;
	transition: all 2s ease;
}
 
.photobanner img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;
 
	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

.column-location {
	height: ;
}

.box-calendar {
	background-image: url("../images/Calendar/calendar2-350px.gif");
	background-repeat: no-repeat;
	margin-bottom: 0;
	height: 300px;
	width: 250px;
	background-position: center;
	min-width: 100%;
	opacity: .8;
}

.box-map {
	margin: 0 auto;
	text-align: center;
	vertical-align: center;
}

.box-map ul {
	list-style: none;
}

#map {
	margin: 0 auto;
}

.button {
	text-decoration: none;
	border: solid 2px #9894ba;
	display: inline-block;
	border-radius: 5px;
	margin: 0 auto;
	text-align: center;
	vertical-align: center;
	margin-bottom: 15px;
	background: #dddce5;
	padding: 3px;
}

.signup-link {
	display: inline-block;
	text-decoration: none;
}


/*CSS - Non-Media Specific - Begin*/
/*-----------------------------------------------------------------------------------------*/


